useDynLib(gap)
export(abc, a2g, asplot,
       BFDP, bt, b2r,
       ccsize, chow.test, comp.score,
       ESplot,
       fbsize, FPRP,
       g2a, g2a.c, gc.control, gc.em, gcode, gcontrol, gcontrol2, gcp, genecounting, gif, grec2g,
       hap, hap.control, hap.em, hap.score, htr, hwe, hwe.hardy, HapDesign, HapFreqSE,
       KCC, kin.morgan,
       LD22, LDkl,
       m2plem, makeped, metap, metareg, mhtplot, mia, micombine, mtdt, muvar, mvmeta,
       PARn, pbsize, pbsize2, pedtodot, pfc, pfc.sim, pgc, plem2m, plot.hap.score, print.hap.score,
       qqfun, qqunif,
       read.ms.output, revhap, revhap.i,
       s2k, snp.ES, snp.HWE, snp.PAR,
       toETDT, tscc, twinan90,
       ungcode,
       whscore)
S3method(plot, hap.score)
S3method(print, hap.score)
