useDynLib(gap)
export(ab, a2g, asplot,
       BFDP, bt, b2r,
       Cox.est, Cox.T, ccsize, chow.test, ci, comp.score, cov.invlogit,
       Dev, Dev.est,
       DevH0dominant,
       DevH0dominant.est,
       DevH0recessive,
       DevH0recessive.est,
       DevHaGdominant,
       DevHaGdominant.est,
       DevHaGrecessive,
       DevHaGrecessive.est,
       DevHa.recessive,
       DevHa.recessive.est,
       ESplot, ExpN.recessiveH0, ExpN.recessiveHa,
       fbsize, FPRP,
       g2a, g2a.c, gc.control, gc.em, gcode, gcontrol, gcontrol2, gcp, genecounting, geno.p, getPTE, getb1star, gif, grec2g,
       h2, hap, hap.control, hap.em, hap.score, hmht.control, htr, hw, hwe, hwe.cc, hwe.hardy, HapDesign, HapFreqSE,
       invlogit, 
       KCC, k, klem, kin.morgan,
       LD22, LDkl, logit,
       m2plem, makeped, masize, metap, metareg, mhtplot, mht.control, mia, micombine, mtdt, mtdt2, muvar, mvmeta,
       PARn, pbsize, pbsize2, pedtodot, pfc, pfc.sim, pgc, plem2m, plot.hap.score, print.hap.score,
       qqfun, qqunif,
       read.ms.output, revhap, revhap.i,
       s2k, se.exp, se.invlogit, snp.ES, snp.HWE, snp.PAR, solve_skol,
       toETDT, tscc, twinan90,
       ungcode,
       whscore,
       x2,
       z)
S3method(plot, hap.score)
S3method(print, hap.score)
